<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .center{
            width: 50%;
            margin: 20px auto ;
        }
    </style>
</head>
<body>
    <div class="center">
    {% for i in obj %}

    <p>|Name:{{i.bike_name}} | Company:{{i.bike_company}} | milage:{{i.bike_milage}} | price:{{i.bike_price}}</p>
    <hr>
    {% endfor %}
    </div>
    
</body>
</html>