<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .center{
        width: 50%;
        margin: 20px auto;
    }
    input{
        width: 100%;
        height: 50px;
        margin: 10px 0px;
        text-align: center;
        
    }
</style>
<body>
    <div class="center">
    <form action="bike_company">
        <input type="search" name="nm"  placeholder="enter the company name">
        <input type="submit" value="submit">
    </form>
    </div>
    
</body>
</html>