<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .center{
            width: 50%;
            margin: 20px auto;

        }
        input{
            width: 100%;
            height: 50px;
            margin: 10px 0px;
            text-align: center;
            
        }
    </style>
</head>
<body>
    <div class="center">
        <form action="register">
            <input type="text" name="bn" placeholder="Bike name">
            <input type="text" name="bc" placeholder="Bike company">
            <input type="text" name="bm" placeholder="Bike milage">
            <input type="text" name="bp" placeholder="Bike price">
            <input type="submit">


        </form>

    </div>
</body>
</html>